<launch>
  <master auto="start"/>
    <!-- Transform publisher -->
    <node name="transform_broad" pkg="mapr_nav" type="transform_broadcaster"/>

  # Starting map server
  <!-- <node name="map_server" pkg="map_server" args="$(find my_map_package)/my_map.pgm my_map_resolutuion" /> -->
    # Lidar bring up
    
    # Open transforms

</launch>